/* Colores */
:root {
  --color-primary: #FFB6C1;
  --color-secondary: #e0c6e4;
  --color-accent: #c989cf;
}

/* Estilos generales */
body {
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos de la tabla */
.table {
  border-collapse: collapse;
  width: 100%;
}

.table td {
  padding: 10px;
  border-bottom: 1px solid var(--color-primary);
}

.table td a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.table td a:hover {
  color: var(--color-accent);
}

/* Estilos adicionales */
h1 {
  color: var(--color-primary);
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  color: var(--color-secondary);
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  color: var(--color-accent);
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.table td a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-accent);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.table td a:hover {
    background-color: var(--color-secondary);
}